version: "3.9"

services:
  react-app:
    image: nginx:stable
    container_name: react-app
    ports:
      - "80:80"
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always